.checkout-container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 0;
    
  
    .checkout-header {
      width: 100%;
      padding: 20px 0;
      display: flex;
      border-bottom: 1px solid darkgrey;
      align-content: space-between;

      .symbol-qty-price-remove{
        width: 73%;
        display: flex;
        flex-direction: row;
        text-align: center;
      }
  
      .header-block {        
        width: 100%;
        &:last-child {
          width: 50%;
        }
        
      }

      // .header-block {        
      //   width: 13%;  
      //   &:last-child {
      //     width: 8%;
      //   }
      // }
    }
  
    .total {
      margin-top: 15px;
      margin-left: auto;
      font-size: 28px;
    }
  }