.category-container {
  min-width: 30%;
  max-width: 1000%;
  height: 380px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  //border: 0px solid rgb(255, 255, 255);
  //margin: 1px 1px 1px 1px;
  margin: 0px 0px 0px 0px;
  //margin: 10px 7.5px 10px;
  overflow: hidden;

  &:hover {
    cursor: crosshair;    
    

    & .background-image {
      transform: scale(1.1);
      transition: transform 12s;
      
    }

    & .category-body-container {
      opacity: 0.87;
      transition: opacity 0.55s;
      
    }
  }

  // &.large {
  //   height: 300px;
  // }
  // &:first-child {
  //   margin-right: 0px;
  // }

  // &:last-child {
  //   margin-left: 0px;
  // }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 4s ease-out;
  }

  .category-body-container {  

    height: 110px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid rgb(54, 33, 0);
    background-color: rgb(255, 255, 255);
        position: absolute;

    opacity: 0.97;
    transition: opacity 0.7s;
    h2 {
      font-weight: 300;
      margin: 10px 15px 0px;
      font-size: 27px;
      color: #251600;
    }

    p {
      font-weight: 200;
      font-size: 15px;
      color: #bb5a00;
    }
  }
}
