.navigation {
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;

.brand-container{
  margin-right: 25px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: flex-start;

  .logo-container {
    margin-left: 2%;
    height: 100%;
    min-width: 100px;
    width: 100px;
    padding: 8px;
  }
  
  .name-header{
    margin-left: 2%;
    padding: 30px;
    font-weight: 200;
    font-size: 28px;
    font-family: 'Montserrat';
    text-align: center;
    white-space: nowrap;

  }
}

  .nav-links-container {
    margin-right: 25px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    

    .nav-link {
      padding: 10px 27px;
      cursor: pointer;
      font-weight: 500;
      font-size: 19px;

    }
  }
}
